
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">
    <h1>Password Generator</h1>
    <form action="{% url 'password' %}">
        <label for="length">Choose Password Length</label>
        <br>    
        <select name="length" id="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        <br>
        <input type="checkbox" id="upper" name="upper">Upper Case
        <br>
        <input type="checkbox" id="numbers" name="numbers">Numbers
        <br>
        <input type="checkbox" id="special" name="special">Special Characters
        <br>

        <input type="submit" value="Generate Password" class="btn btn-primary btn-large">
    </form>    
</div>

